<div class="columns">
  <div class="column">
    <button class="button is-primary" ng-click="vm.add()">Adicionar</button>
    <hr>
    <div class="field">
      <input type="text" name="filter" id="filter" class="input" ng-model="vm.filter">
    </div>
    <table class="table is-bordered">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ano fabricação</th>
          <th>Ano modelo</th>
          <th>Marca</th>
          <th>Valor</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="car in vm.cars | filter:vm.filter:name">
          <td>{{ car.name }}</td>
          <td>{{ car.prodYear }}</td>
          <td>{{ car.modelYear }}</td>
          <td>{{ car.brand }}</td>
          <td>{{ car.value }}</td>
          <td>
            <button class="button" ng-click="vm.edit(car)">Editar</button>
            <button class="button" ng-click="vm.delete(car.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<save-cars
    ng-show="vm.showForm"
    selected-car="vm.selectedCar"
    on-close="vm.close()"
    car-saved="vm.carSaved(car)"></save-cars>